.main-report{
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-report h2{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: var(--Aprimary);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.report .container{
    padding-left: 25px;
}
.report .reported-course{
    margin-bottom: 20px;
    border-left:10px solid var(--Asecondary) ;
    background-color: #F4AF1B88;
    border-radius: 10px;
}
.report .reportClick{
    cursor: pointer;
    width: 100%;
    padding: 10px;
}
.report .reportClick .col-4{
    color: var(--Aprimary);
    font-weight: bold;
    text-align: center;
}
.report .reportClick .col-8{
    color: var(--Aprimary);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.reportes{
    margin: 20px;
    background-color: #00154FCC;
    border-radius: 10px;
}
.reportes > div{
    color: var(--Asecondary);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
.course{
    text-align: center;
    border-bottom: 2px ridge var(--Aprimary);
}
.course a{
    color: var(--Asecondary);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    padding: 10px;
}
.course span{
    color: var(--Aprimary);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    padding: 10px;
}
#deleteCourse button{
    background-color: var(--Aprimary);
    color: var(--Asecondary);
    border: 1px outset #000;
}
#deleteCourse button:hover{
    background-color: var(--Asecondary);
    color: var(--Aprimary);
}