:root{
    --Aprimary: #00154F;
    --Asecondary: #F4AF1B;
    --Athirdly: #F2BC94;
}
/* Body */
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.main-container .field-label-responsive{
    text-align: center;
    color: #1D1B1B;
    align-self:center;
    font-size: large;
}
.main-container .input-group-addon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D1B1B;
}
.main-container input{
    border-radius: 6px !important;
    border-color: #EC4D37;
}
.main-container input:focus{
    border-color:#1D1B1B;
    box-shadow:none;
}
@media(max-width: 768px) {
    .main-container .field-label-responsive {
        padding-top: .5rem;
        text-align: center;
    }
}
.main-container .content-btn button{
    background-color: #EC4D37;
    color: #1D1B1B;
    border: 1px outset #000;
}
.main-container .content-btn button:hover{
    color: #FFFFFF;
    border:none;
    border: 2px inset #000;
}
.main-container .content-pad{
    padding-left: 3.6rem
}
/*------------------------------ */
textarea {
    resize: none;
}
/*------------------------------ */

/* Jumbotron */
.jumbotron {
    padding: 66px;
    background-color:#C0C0C0;
    margin-bottom: 0 !important;
}
.jumbotron h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    color: #000080;
}
.jumbotron p {
    font-size: 15px;
    color: #000;
}
.jumbotron abbr{
    text-decoration:none;
}
/*------------------------------ */

/* Activated */
.activated{
    padding:22px;
}
/*------------------------------ */

/* Edit course */
.course-info{
    margin-bottom: 30px;
    background-color: #C0C0C044;
    border-radius:  44px 44px 0 0 ;
}
.course-info .col-md-6{
    padding:20px
}
.course-description{
    color:#000;
    background-color: #C0C0C055;
    padding:11px;
    border-radius:11px;
}
.course-img{
    display:flex;
    justify-content:center;
    align-items:center;
}
.course-img img{
    border-radius:22px;
}
.card-container{
    padding-bottom: 44px;
    margin-top:44px;
    border-bottom: 1px solid #EDF5E1;
}
.cards-in{
    background-color: #C0C0C055;
    border-radius: 22px ;
}
.cards-in .col-md-6{
    padding:20px;
}
.card-description{
    color:#000;
    background-color: #C0C0C066;
    padding:11px;
    border-radius:11px;
}
.cards-img-video{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
  .new-card-parent{
    display: none;
    justify-content:center;
    align-items:center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  .new-card-son{
    background-color:#05386B;
    padding:22px;
    border-radius:6px;
    width:50%;
  }
/*------------------------------ */
/* Links */
.position {
    color:darkgray;

}

/* comments */
.comments .title {
    border-bottom: 1px dotted #000000;
    margin-bottom: 20px;
}
.addcomment {
    margin-bottom:20px;
}
.comment {
    margin-top:20px;
}
.comment .body {
    margin: 0 0 5px 0;
    padding:0px;
}
.comment .permalink {

}
.comment .like {
    padding-left:10px;
}

.favorite-class{
    font-size:150%;
    color:yellow;
}

.not-favorite-class{
    font-size:150%;
    color:gray;
}


.color_red{
color:red

}

.not_color_red{
color:darkgray
}
/*---------------------------------- */
.reported-courses , .reported-view{
    border: 1px solid black;
}