:root{
    --Aprimary: #00154F;
    --Asecondary: #F4AF1B;
    --Athirdly: #F2BC94;
}
button:focus{
    outline:none;
}
/* Body */
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


.fa-comments{
    color: var(--Aprimary);
}
/*------------------------------ */
textarea {
    resize: none;
}
/*------------------------------ */


/* Activated */
.activated{
    padding:22px;
}
/*------------------------------ */

