<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'EDZILLA - Account Profile Page')}">
</head>
<body>
    <link rel="stylesheet" th:href="@{/css/account.css}">
    <nav th:replace="~{layouts/main_layout :: navigation}"></nav>
    <!-- profile -->
    <div id="profile" class="container" th:if="!${error}">

        <div class="row">
            <h1 th:text="${userName}" class="col-12"></h1>
        </div>

        <div id="user-courses" class="row">
            <div class="link" th:each="course : ${userCourseList}">
                <div class=" row course">
                    <div class="col-1">
                        <!--to add atribute to tag -> th:data-id="${course.id}" ,attribue name:data-id, attrubute value "${course.id}"-->
                        <div><a href="javascript:void(0);" class="upvote" th:data-id="${course.id}"><i th:id="|up-${course.id}|" class="fas fa-arrow-up" th:classappend="${course.isUp} ? 'color_red' : 'not_color_red'"></i></a></div>
                        <div><span th:id="|votecount-${course.id}|" class="votecount" th:text="${course.getVoteCount()}">0</span></div>
                        <div><a href="javascript:void(0);" class="downvote" th:data-id="${course.id}" th:disabled="true"><i th:id="|down-${course.id}|" class="fas fa-arrow-down"th:classappend="${course.isDown} ? 'color_red' : 'not_color_red'"></i></a></div>
                    </div>
                    <div class="col-11">
                        <p class="title">
                            <a class="title" title="Course Edit" th:href="@{'/edit/course/' + ${course.id}}" th:text="${course.title}">
                                Title Goes Here
                            </a>
                        </p>
                        <!-- ON -->
                        <p class="tagline ">submitted
                            <time th:title="${course.getCreationDate()}" th:datetime="${course.getCreationDate()}" class="live-timestamp"
                                  th:text="${course.getPrettyTime()}"></time>
                        </p>
                        <p class="description" th:text="${course.description}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="comment-favorit col-11">
                        <a th:href="@{'/course/' + ${course.id} + '#comments'}" class="comments"><i class="fas fa-comments"></i> <span th:text="|${course.getComments().size()} comments|"></span></a>
                        <a href="javascript:void(0);" th:id="|a_${course.id}|" th:data-id="${course.id}" class="favorite"><span  th:id="|fav_${course.id}|" th:class="${course.isFavorite} ? favorite-class : not-favorite-class ">&starf;</span> Add to Favorite</a>
                    </div>
                </div>
            </div>
        </div>
        </div><!-- // profile -->
    <div th:if="${error}">
        <h1>User Not Found</h1>
    </div>
</body>

<script sec:authorize="isFullyAuthenticated()">



    //*******for show my courses ***********
    let showUserCourses = () =>{
        document.getElementById("user-courses").style.display = "block";
        document.getElementById("favorite-courses").style.display = "none";
        document.getElementById("profile-setting").style.display = "none";

    }



    //********for add to favorite******************
    //1- for course not added yet to favorite
    const allNotFavoriteCourse = document.querySelectorAll(".favorite")

    for(let i=0; i<allNotFavoriteCourse.length; i++) {
        let classNameNotFavorite = allNotFavoriteCourse[i].className;
        allNotFavoriteCourse[i].addEventListener('click', function (event) {
            const courseIDForNotfavorite = this.getAttribute("data-id");

            if (document.getElementById('fav_'+courseIDForNotfavorite).classList.contains('not-favorite-class') ){
                document.getElementById('fav_'+courseIDForNotfavorite).classList.remove('not-favorite-class');
                document.getElementById('fav_'+courseIDForNotfavorite).classList.add('favorite-class');


                //to make a request to FavoriteCourseController
                fetch(`http://localhost:8080/addtofavorite/course/id/${courseIDForNotfavorite}`)
                    .catch(err => console.error(err));
            }else{
                document.getElementById('fav_'+courseIDForNotfavorite).classList.remove('favorite-class');
                document.getElementById('fav_'+courseIDForNotfavorite).classList.add('not-favorite-class');

                //to make a request to FavoriteCourseController
                fetch(`http://localhost:8080/removefromfavorite/course/id/${courseIDForNotfavorite}`)
                    .catch(err => console.error(err));
            }
        })
    }


    //for up and down vote
    const allvotes = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;

            const courseID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votecount-' + courseID);
            const voteSumValue = voteSum.innerHTML;
            ///// for color
            if(document.getElementById('up-' + courseID).classList.contains('color_red') && direction ==-1){
                document.getElementById('up-' + courseID).classList.remove("color_red");
                document.getElementById('up-' + courseID).classList.add("not_color_red");

                document.getElementById('down-' + courseID).classList.remove("not_color_red");
                document.getElementById('down-' + courseID).classList.add("color_red");
            }
            else if(document.getElementById('up-' + courseID).classList.contains('not_color_red') &&
                document.getElementById('down-' + courseID).classList.contains('not_color_red') &&
                direction ==-1
            ){
                document.getElementById('down-' + courseID).classList.remove("not_color_red");
                document.getElementById('down-' + courseID).classList.add("color_red");
            }
            else if(document.getElementById('up-' + courseID).classList.contains('not_color_red') &&
                document.getElementById('down-' + courseID).classList.contains('not_color_red') &&
                direction ==1
            ){
                document.getElementById('up-' + courseID).classList.remove('not_color_red');
                document.getElementById('up-' + courseID).classList.add('color_red');
            }
            else if(document.getElementById('down-' + courseID).classList.contains('color_red') && direction ==1){
                document.getElementById('up-' + courseID).classList.remove("not_color_red");
                document.getElementById('up-' + courseID).classList.add("color_red");

                document.getElementById('down-' + courseID).classList.remove("color_red");
                document.getElementById('down-' + courseID).classList.add("not_color_red");
            }
            ////end for color
            //to make a request to voteController
            fetch(`http://localhost:8080/vote/course/${courseID}/direction/${direction}/votecount/${voteSumValue}`)
                .then(response => response.json())
                .then(data =>voteSum.innerHTML = data)
                .catch(err => console.error(err));
        });
    }
</script>
</html>