<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'EDZILLA - Login')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: navigation}"></nav>
    <div class="container main-container">

        <!-- login -->
        <form class="form-horizontal" role="form" method="POST" th:action="@{/login}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="content-h2">Login Form</h2>
                    <hr>
                    <div class="alert alert-danger" th:if="${param.error != null}">
                        Invalid Email or Password.
                    </div>
                    <div class="alert alert-success" th:if="${param.logout != null}">
                        You have been logged out.
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 field-label-responsive">
                    <label for="email">E-mail Address</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input value="user@gmail.com" type="email"
                                   name="email" class="form-control"
                                   id="email" placeholder="you@example.com"
                                   required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" value="Password123"
                                   name="password" class="form-control"
                                   id="password" placeholder="Password"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 content-pad" >
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input id="remember-me" name="remember-me" class="form-check-input" type="checkbox" >
                            <span>Remember me</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr>
            <div class="row content-btn" >
                <div class="col-md-3"></div>
                <div class="col-md-6 content-pad">
                    <button type="submit" class="btn form-control"><i class="fas fa-sign-in-alt"></i> Login</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>

    </div>

</body>
</html>