<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Spring Boot Reddit Clone')}">
</head>
<body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>
    <div class="container main-card">

        <div class="new-card-parent" id="nc">
            <div class="new-card-son">
                <form onsubmit="return convertUrl()" method="post" class="container" th:object="${courseCard}"
                      th:action="@{/courseCard/submit}" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 field-label-responsive">
                            <label for="subtitle">Subtitle</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-heading"></i></div>
                                    <input type="text"              name="subtitle"
                                           class="form-control"     id="subtitle"
                                           placeholder="Card subtitle" th:field="*{subTitle}"
                                           required autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 field-label-responsive">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-audio-description"></i></div>
                                    <textarea  name="description"   class="form-control"
                                               id="description" placeholder="Card description"
                                               th:field="*{text}"   required maxlength="255" >
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 field-label-responsive">
                            <label for="videoUrl">Video URL</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fab fa-youtube"></i></div>
                                    <input type="url"              name="videoUrl"
                                           class="form-control"     id="videoUrl"
                                           placeholder="Youtube video if exist" th:field="*{videoUrl}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 field-label-responsive">
                            <label for="imagePath">Photo</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fab fa-youtube"></i></div>
                                    <input type="file"              name="image"
                                           class="form-control"     id="imagePath"
                                           placeholder="Photo"      accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row content-btn">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 content-pad">
                            <button type="submit" class="btn form-control"><i class="fas fa-address-card"></i>Confirm</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row card-info">
            <div class="col-md-3 card-header card-title">
                <h1 th:text="${course.title}" class="text-md-center"></h1>
            </div>
            <div class="col-md-7 card-header card-des">
                <p th:text="${course.description}"></p>
            </div>
            <div class="col-md-2 card-header">
                <button class="btn form-control" onclick="showCard();">Add New Card</button>
            </div>
        </div>
        <hr style="background-color: #EDF5E1">

        <div class="container cards-out" th:each="card : ${course.getCourseCards()}">
            <div class="row cards-in">
                <div class="col-md-5">
                    <h2 th:text="${card.getSubTitle()}" class="card-head"></h2>
                    <p th:text="${card.getText()}" class="card-description" style="overflow-wrap: break-word"></p>
                     <img th:src="@{${card.getImagePath()}}" width="100%" >
                </div>
                <div class="col-md-7">
                    <iframe width="100%" height="100%" th:src="${card.getVideoUrl()}" frameborder="0" allow="accelerometer;
                        autoplay; clipboard-write; encrypted-media; gyroscope;  picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<script >
    function showCard(){
        document.getElementById("nc").style.display = "flex";
    }
</script>

</body>
</html>