<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'EDZILLA - Spring Boot Reddit Clone')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: navigation}"></nav>

<div class="container">

<div class="alert alert-success" role="alert" th:if="${success}">your new course was created!</div>
    <!-- course -->
    <div class="row course">
        <div class="col-1">
            <div><a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a></div>
            <div><span class="votecount">3</span></div>
            <div><a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-11">
            <p class="title">
                <a class="title " th:href="@{'/course/' + ${course.id}}" th:text="${course.title}">
                    Title Goes Here
                </a>
            </p>
            <!-- ON -->
            <p class="tagline ">submitted
                <time th:title="${course.getCreationDate()}" th:datetime="${course.getCreationDate()}" class="live-timestamp"
                      th:text="${course.getPrettyTime()}"></time> by
                <a th:href="@{'/u/' + ${course.getUser().getAlias()}}"  class="author" th:text="${course.getUser().getAlias()}"></a>
            </p>

            <p><span class="domain"  th:text="${course.description}" ></span></p>
            <p>
                <a href="#comments" class="comments" th:text="|${course.getComments().size()} comments|"><i class="fas fa-comments"></i> 8 comments</a>
                <a href="#" class="share"><i class="fas fa-share-square"></i> share</a>
            </p>
        </div>
    </div>

    <hr style="background-color: #EDF5E1">

    <div class="container cards-out" th:each="card : ${course.getCourseCards()}">
        <div class="row cards-in">
            <div class="col-md-5">
                <h2 th:text="${card.getSubTitle()}" class="card-head"></h2>
                <p th:text="${card.getText()}" class="card-description" style="overflow-wrap: break-word"></p>
                <img th:src="@{${card.getImagePath()}}" width="100%" >
            </div>
            <div class="col-md-7">
                <iframe width="100%" height="100%" th:src="${card.getVideoUrl()}" frameborder="0" allow="accelerometer;
                        autoplay; clipboard-write; encrypted-media; gyroscope;  picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


     course comments
    <div id="comments" class="comments">
        <div class="row header">
            <div class="col-1">&nbsp;</div>
            <div class="col-11 title" th:text="|all ${course.getComments().size()} comments|">
                all 21 comments
            </div>
        </div>
        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <form id="frmAddComment" method="POST" th:action="@{/course/comments}" th:object="${comment}">
<!--                    <input type="hidden"  th:field="*{course}"/>-->
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>

        <!-- single comment -->
        <div class="row comment" th:each="comment : ${course.getComments()}">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <span><a href="#" th:text="${comment.getCreatedBy()}"><i class="far fa-user"></i> therealdanvega</a></span>
                <span th:text="${comment.getPrettyTime()}"><i class="far fa-clock"></i> 4 hours ago</span>
                <p class="body" th:text="${comment.getBody()}">It’s one thing I never care about, new releases of maven. Yet I do for most other things.. I really should take a look at any features released in the last while! Pull my dependencies, run my tests and upload to nexus. I don’t care for much else, I wonder what if any I’m missing.</p>
                <a href="#" class="permalink"><i class="fas fa-course"></i> permalink</a>
                <a href="#" class="like"><i class="far fa-thumbs-up"></i> Like</a>
            </div>
        </div>

    </div>

</div>

</body>
</html>
